/* header css */
*{
    margin-top: 0px;
    /* outline: 1px red solid; */
}
#header {
    background-color: #eeeeee;
    padding: 5px 0px 1px 0px;
    min-height: 30px;
    box-shadow:  0px 2px 5px silver;
    margin-bottom: 20px;
}
div.wrapper{
    width: 1070px;
    margin: 0 auto;
}
    div#header>div.wrapper>span.dot {
        height: 50px;
        width: 50px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
    div#header>div.wrapper>span.app-name{
        display: inline-block;
        margin-top: 0px;
        vertical-align: top;
        padding-top: 12px;
        padding-left: 10px;
    }
    div#header>div.wrapper>span.app-menu{
        display: inline-block;
        width: 80%;
        vertical-align: top;
        padding-top: 12px;
        padding-right: 15px;
        text-align: right;
    }
div#web_logo{
    display: inline-block;
    width: 20%;
    height: auto;
    text-align: center;
}
    div#web_logo img{
        width: 176px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

div#header_right {
    display: inline-block;
    width: 79.5%;
    height: auto;
    text-align: right;
    font-size: 12px;
}
    div#header_right a{
        text-decoration: none;
    }

/* footer css */
div#footer{
    min-height: 30px;
    border-top: rgb(180, 180, 180) 1px solid;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 13px;
}
    div#footer>div.wrapper>p.org-name{
        display: inline-block;
        width: 49.5%;
        height: auto;
    }
    div#footer>div.wrapper>p.copyright{
        display: inline-block;
        width: 49.5%;
        height: auto;
        text-align: right;
    }

/* Body CSS */

.pet_add_form{
    display: inline-block;
    vertical-align: top;
    width: 35%;
    padding-left: 60px;
}
.pets_list{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.app-form{
    width: 30%;
}

/* table link */
.action-separetor{
    display: inline-block;
}
.action-link{
    display: inline-block;
}