{% extends 'layout.html' %}

{% block content %}
    <div class="wrapper">
        <p>All Users</p>
    </div>

    <table id="usersList" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usersList: %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['create_at'] }}</td>
                    <td>
                       
                        <a href="/show_user/{{ user['id'] }}" class="action-link"> Show </a> 

                        <span class="action-separetor"> | </span>
                        
                        <a href="/get_user_update_form/{{ user['id'] }}" class="action-link" > Edit </a> 
                        
                        <span class="action-separetor"> | </span>

                        <a href="/delete_user/{{ user['id'] }}" class="action-link"> Delete </a> 
                         
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>        
        $(document).ready(function(){
            $('#usersList').DataTable({
                // "paging":false //to disable pagination
                "pagingType" : "first_last_numbers" // options --> simple(previoius & next only), numbers(Page number buttons only), full(first, previous, next, last buttons only), full_number(first, previous, next, last buttons & page numbers), first_last_numbers(first & last buttons plus page numbers)
            });
            // $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}